:host {

  .flex {
    justify-content: center;
  }

  .boxes {
    .img-container {
      text-align: center;

    }
    margin-top: 70px;
    color: var(--text-color);
    .box {
      flex-direction: column;

      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

}
