<app-header/>
<app-menu/>
<main class="boxes flex " >
  <div class="content-box">
    <div class="box">
    <div class="img-container"><img src="../../../assets/rick-and-morty2.png" alt=""></div>
      <div class="info">
        <h2 class="sub-title">{{user?.name}}</h2>
        <span class="text span" [attr.statusColor]="statusColor">Viva - Fem - Desenvolvedora Back-End | Angular | PHP | Laravel | HTML5 | CSS | Javascript</span>
        <p class="text"><span class="mark">Localização:</span> Itaqua/Sp</p>
        <p class="text"><span class="mark">Nasc:</span> 11/07/1997</p>
        <p class="text"><span class="mark">GitHub:</span> <a href="https://github.com/Alencar-Bianca" target="_blank">GitHub</a></p>
        <p class="text"><span class="mark">Linkedin:</span> <a href="https://www.linkedin.com/in/alencar-bianca/" target="_blank">Linkedin</a></p>
        <span class="mark text">Sobre:</span>
          <p>Tenho experiência em desenvolvimento fullstack, trabalhando tanto no frontend quanto no backend. Durante uma passagem anterior em uma empresa por 4 meses, utilizei tecnologias como Angular e NestJS, o que aprimorou minhas habilidades e me mostrou a importância da comunicação entre as áreas.</p>
          <p>Anteriormente, trabalhava com PHP/Laravel no backend e no frontend HTML, CSS e Javascript, desenvolvendo e melhorando uma aplicação Web para o setor imobiliário por aproximadamente dois anos. Participava do processo de seleção de novos colaboradores, dava suporte aos colegas de equipe para repasse de conhecimento/treinamento e analisava a saúde da aplicação (performance) através da ferramenta New Relic. Também identificava a causa raiz de bugs e aplicava as correções necessárias. Gosto de estudar nas horas vagas, fiz um curso na NoneClass de desenvolvimento de jogos 2D, tenho interesse em trabalhar com Angular e construir API's.</p>
          <p>Sou flexível para contribuir no frontend/backend quando necessário. Minha abordagem equilibrada entre as duas áreas me permite resolver desafios de forma mais eficaz, resultando em soluções eficientes.</p>
      </div>
    </div>
  </div>
</main>


