<app-header/>
<app-menu/>
<main class="boxes flex " >
  <div class="content-box">
    <div class="box">
    <div class="img-container"><img src="../../../assets/rick-and-morty2.png" alt=""></div>
      <div class="info">
        <h2 class="sub-title">{{user?.name}}</h2>
        <span class="text span" [attr.statusColor]="statusColor">Viva - Fem - Desenvolvedora Back-End | Angular | PHP | Laravel | HTML5 | CSS | Javascript</span>
        <p class="text"><span class="mark">Localização:</span> Itaqua/Sp</p>
        <p class="text"><span class="mark">Nasc:</span> 11/07/1997</p>
        <p class="text"><span class="mark">GitHub:</span> <a href="https://github.com/Alencar-Bianca" target="_blank">GitHub</a></p>
        <p class="text"><span class="mark">Linkedin:</span> <a href="https://www.linkedin.com/in/alencar-bianca/" target="_blank">Linkedin</a></p>
        <span class="mark text">Sobre:</span>
          <p>Tenho experiência em desenvolvimento fullstack, trabalhando tanto no frontend quanto no backend. Durante uma passagem anterior em uma empresa por 4 meses, utilizei tecnologias como Angular e NestJS, o que aprimorou minhas habilidades e me mostrou a importância da comunicação entre as áreas.</p>
          <p>Anteriormente, trabalhei no desenvolvimento backend com PHP/Laravel no backend, utilizei o Mysql na parte do banco de dados, HTML, CSS e Javascript no frontend. desenvolvi e aprimorei uma aplicação web para o setor imobiliário por aproximadamente dois anos. Estive envolvido no processo de seleção de novos membros da equipe, forneci suporte aos colegas para transferência/treinamento de conhecimento e analisei a saúde da aplicação (desempenho) usando a ferramenta New Relic..</p>
          <p>Tenho experiência no desenvolvimento backend com o Laravel em PHP, mas continuo flexível para contribuir no frontend quando necessário. Minha abordagem equilibrada entre as duas áreas me permite resolver desafios de forma mais eficaz, resultando em soluções eficientes.</p>
      </div>
    </div>
  </div>
</main>


