.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 70px;
  text-align: center;
  color: var(--text-color);
}

.text {
  font-family: var(--text);
}
.sub-title {
  font-family: var(--sub-title);
}
