:host {

  .flex {
    justify-content: center;
  }


  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box:hover {
    background-color: var(--background-third);
  }

}
