:host {
  header {
    position: fixed;
    right:  0;
    top: 0;
    width: calc( 100% - 150px);
    background-color: var(--background-second);
  }
  p {
    font-size: 26px;
    color: var(--primary);
    font-family: var(--sub-title);
  }
}
