:root {
  --primary: #24325fff;
  --background: #24325f99;

  --background-second: #fae48b99;

  --text: "Roboto", sans-serif;
  --title: "Rock Salt", system-ui;
  --sub-title: "Creepster", system-ui;

}
