:root {
  --primary: #fbf5ef;

  --background: #292831;
  --background-second: #494d7e;
  --background-third: #323555;
  --background-fourth: #333f58;

  --text-color: #e9e4e2;

  --text: "Roboto", sans-serif;
  --title: "Rock Salt", system-ui;
  --sub-title: "Creepster", system-ui;

}
